<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Encryption</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style1.css') }}">
</head>
<body>
    <div class="encryption">
        <h1>Encrypt a Message</h1>
        <form action="{{ url_for('encode_message') }}" method="POST" enctype="multipart/form-data">
            <label for="msg">Message:</label>
            <input type="text" id="msg" name="msg" required><br><br>
            <label for="pw">Password:</label>
            <input type="password" id="pw" name="pw" required><br><br>
            <label for="image">Select image:</label>
            <input type="file" id="file" name="image" accept="image/*" required><br><br>
            <input type="submit" value="Encrypt">
        </form>
    </div>
</body>
</html>
